.like-dislike-comment {
	width: 100%;
}

.like-dislike-comment:after {
	content: "";
	display: table;
	clear: both;
}

.like-icon, .dislike-icon, .comment-icon, .like-icon-active, .dislike-icon-active {
	float: left;
	width: 1.25em;
	height: 1.25em;
	padding-left: 10px;
}

.like-icon {
	background-image: url("/global/like.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.like-icon-active {
	background-image: url("/global/liked.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dislike-icon {
	background-image: url("/global/dislike.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dislike-icon-active {
	background-image: url("/global/disliked.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.comment-icon {
	background-image: url("/global/comment.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.like-count, .dislike-count, .comment-count {
	margin-right: 10px;
	float: left;
}

.like, .dislike, .comment {
	padding: 5px 10px;
	margin-top: 5px;
	float: left;
	border-radius: 0.5em;
	font-size: 0.75em;
	background-color: white;
	color: black;
}


.like:hover, .dislike:hover {
	background-color: var(--accent-color-grey);
}

.like-dislike-ratio-indicator {
	background-color: var(--accent-color-grey);
	height: 5px;
	max-width: 200px;
}

.like-indicator {
	height: 5px;
	background-color: var(--accent-color-red);
	height: 5px;
}