<footer id="footer">
	<div id="footer-container">
		<div id="left">
			<img id="footer-img" src="/logo.png">
			<p>Created by Bennett Wu for the 2021 Congression App Challenge</p>
			<h3>Contact:</h3>
			<a  class="footer-link" href="mailto:bwu22@students.d125.org">bwu1324@gmail.com</a>
		</div>
		<div id="right">
			<h3>Pages:</h3>
			<a class="footer-link" href="/newThread">New Thread</a>
			<a class="footer-link" href="/about">About</a>
			<a class="footer-link" href="/signup">Sign Up</a>
			<a class="footer-link" href="/login">Login</a>
		</div>
	</div>
</footer>