<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress - About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css"/>
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>
		<div style="width: 50vw; min-width: 450px; margin: 50px auto">
			<h1>About</h1>
			<p>An informed and politically active population is integral to a successful democracy. Ask Congress is here to make it easier for you to connect with Washington D. C.<br>Anyone can view and search threads and, after creating an account, users can create threads and tag representatives to ask questions or start discussions. Replies are open to anyone with an account but official Congress member replies are shown first.</p>
			<%- include('../templates/footer') -%>
		</div>
	</div>
</body>

</html>