<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/login/login.css" />
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>

			<div id="login-container">
				<h1>Login</h1>
				<form id="loginForm">
					<input id="email" type="text" placeholder="Email">
					<br><br>
					<input id="password" type="password" placeholder="Password">
					<br><br>
					<p class="tooltip" id="tooltip" style="display: none"></p>
					<button id="submit">Log In</button>
				</form>
				<script src="/login/loginForm.js"></script>
			</div>

			<%- include('../templates/footer') -%>
	</div>
</body>

</html>