<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css"/>
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>

			<h1>Main</h1>

			<%- include('../templates/footer') -%>
	</div>
</body>

</html>