<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css" />
	<link rel="stylesheet" href="/main/main.css" />
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>
			<div id="background-image">
				<form id="searchForm">
					<script src="/main/searchForm.js"></script>
					<input id="searchBox" type="text" placeholder="Search">
					<input id="search-button" type="submit" value="Search"></button>
					<p id="about-blurb">An informed and politically active population is integral to a successful democracy. Ask Congress is here to make it easier for you to connect with Washington D. C.</p>
				</form>
			</div>
			<div id="scroll"></div>
			<h1 id="top-threads-header">Top Threads</h1>
			<div id="top-threads-container">
				<script src="/main/topThreadLoader.js"></script>
				<script src="/global/likeButton.js"></script>
				<script src="/global/dislikeButton.js"></script>
				<script type="text/javascript">
					topThreadLoader();
				</script>
			</div>
			<div id="search-threads-container">
			</div>
			<div id="load-more-button-container">
				<button class="loadMore" id="top-thread-more" onclick="topThreadLoader()">Load More</button>
				<button class="loadMore" id="search-thread-more" onclick="search(null, true)" style="display: none">Load More</button>
			</div>

			<%- include('../templates/footer') -%>
	</div>
</body>

</html>