<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress - New Thread</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/newThread/newThread.css" />
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>

			<div id="new-thread-container">
				<h1>New Thread</h1>
					<input id="title" type="text" placeholder="Title">
					<br><br>
					<p id="title-tooltip" class="tooltip" style="display: none"></p>
					<textarea id="body" type="text" placeholder="Body Text"></textarea>
					<br><br>
					<p id="body-tooltip" class="tooltip" style="display: none"></p>
					<h3>Tag a representative:</h3>
					<div id="tagged-container"></div>
					<input id="add-tag" list="tag-options" onchange="updateTags()" placeholder="Search or select a Congress member to tag">
					<datalist id="tag-options">
						<option value="Internet Explorer">
						<option value="Firefox">
						<option value="Chrome">
						<option value="Opera">
						<option value="Safari">
					</datalist>
					<br><br>
					<script src="/newThread/newThreadForm.js"></script>
				<button id="submit" onclick="newThread()">Create</button>
			</div>
			<%- include('../templates/footer') -%>
	</div>
</body>

</html>