<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress - Signup</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/signup/signup.css">
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>

		<div id="signup-container">
			<h1>Signup</h1>
			<form id="signupForm">
				<input id="username" type="text" placeholder="Username">
				<br><br>
				<p class="tooltip" id="username-tooltip" style="display: none"></p>
				<input id="email" type="text"  placeholder="Email">
				<br><br>
				<p class="tooltip" id="email-tooltip" style="display: none"></p>
				<input id="password" type="password"  placeholder="Password">
				<br><br>
				<p class="tooltip" id="password-tooltip" style="display: none"></p>
				<button id="submit">Sign Up</button>
				<script src="/signup/signupForm.js"></script>
			</form>
		</div>

		<%- include('../templates/footer') -%>
	</div>
</body>

</html>